﻿@page
@model Preferences.Index

@{
    ViewData["Title"] = "Предпочтения";
}

<h4>Список всех предпочтений</h4>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pref in Model.Preferences)
    {
        <tr>
            <td>@pref.Id</td><td>@pref.Name</td>
        </tr>
    }
    </tbody>
</table>