﻿@page "{id}"
@model Otus.Teaching.Pcf.WebRazor.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Изменить покупателя";
}

<h3>Изменить данные покупателя</h3>

<form asp-action="SaveUser">
    <div class="form-group">
        <label asp-for="Input.FirstName"></label>
        <input class="form-control" asp-for="Input.FirstName" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.LastName"></label>
        <input class="form-control" asp-for="Input.LastName" />
        <span asp-validation-for="Input.LastName"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input class="form-control" asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.SelectedValues">Отредактируйте предпочтения</label>
        <select class="form-control" asp-for="Input.SelectedValues" asp-items="Model.ListItems"></select>
        <span asp-validation-for="Input.SelectedValues" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>