﻿@page
@model Customers.Index

@{
    ViewData["Title"] = "Customers";
}

<h3>Покупатели</h3>
<div class="m-2">
    <a class="btn btn-primary" asp-page="Create">Создать покупателя</a>
</div>
<div class="m-2">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Электронная почта</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Email</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>
                    <div class="btn-group-sm text-center">
                        <a class="btn btn-info" asp-page="Details" asp-route-id="@customer.Id">Подробно</a>
                        <a class="btn btn-info" asp-page="Edit" asp-route-id="@customer.Id">Редактировать</a>
                        <form class="text-center" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@customer.Id"/>
                            <button type="submit" class="btn btn-sm btn-danger m-1">
                                Удалить
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>